:root {
    --link-blu: #274FCD;
    --header-height: 94px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

ul {
    display: flex;
}

.bottom ul li {
    list-style: none;
    margin-right: 2.5rem;
    margin-left: 0;
    line-height: 2.3rem;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(88, 87, 87);
    font-family: 'Red Hat Display', sans-serif;

}

.active {
    color: var(--link-blu);
    border-bottom: 3px solid var(--link-blu);
}

/* HEADER */
header {
    background-color: white;
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid lightgray;
    padding: 0 1.3rem;
}

.top {
    height: 60%;
    display: flex;
    align-items: center;
    padding-top: .5rem;
}

.bottom {
    height: 40%;
    display: flex;
    align-items: center;
}

.top img {
    height: 24px;
}

.top-title {
    margin-left: .3rem;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 1.35rem;
    color: rgb(82, 81, 81);
}

/* MAIN */

main {
    margin-top: var(--header-height);
    padding: 1.5rem 0 .5rem;
}

h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 4rem;
}

h3 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

a {
    color: var(--link-blu);
    text-decoration: none;
}

p {
    font-size: .9rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

ol {
    margin-left: .9rem;
}

li {
    margin-left: 1rem;
    font-size: .9rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ol>li>ol {
    list-style: lower-alpha;
}
